//INCIO DE GALERIA DE FOTOS + MODAL FOTOS
.galeria {
    img{
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    border: 10px solid  rgb(245,245,245);
    &:hover{
        border: 1px solid rgb(187, 131, 184);
        transition: 0.5s;
    }
}
    .col-lg-4{
        padding: 20px;
        margin: 0 !important;
    }
}
.modal-content{
    img{
        border-radius: 15px;
        }
}
//FIN DE GALERIA DE FOTOS + MODAL FOTOS