//iNICIO DE CERTIFICADOS 
.certificados{
    box-shadow: -15px 18px 20px -1px rgba(41, 40, 40, 0.6);
    border-radius: 10px;
    width: 300px;
}
.titleSomosLuisitas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3 ) ),url(../assets/imagenes/img-uñas/esmaltes.jpg) ;
    background-position: center center;
    background-size: cover;
    height: 40vh;
    h1{
        font-size: 3em;
        color: white;  
    }
}
.introH2{
    padding: 60px;
    background-image: linear-gradient( 0deg, rgba(255, 255, 255, 0.438), rgba(255, 255, 255, 0.438));
    h2{
    font-family: 'montserrat_medium';
    font-weight: normal;
    line-height: 1.25;
    font-size: 31px;
    text-transform: none;
    letter-spacing: 0px;
    color: #C64771;
    }
}
//FIN DE CERTIFICADOS
//INCIO DE QUIENES SOMOS + DIRECCION 
#maps{
    padding: 20px 20px;
}
#direc{
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6 ) );
    border-radius: 15px;
}
.text-direc{
    background-color: rgb(245,245,245);
    padding: 40px;
    border-radius: 20px ;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    word-spacing: 0.2em;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
}
//FIN DE QUIENES SOMOS + DIRECCION 
//INCIO @MEDIA
@media (max-width: 1199px){
    .certificados{
        width:250px ;
    }
}
@media (max-width: 992px){
    #maps{
        display: flex;
        justify-content: center;
        padding: 0px;
        padding-bottom: 10px;
    }
    #direc{
        padding-top: 30px;
    }
}
@media (max-width: 768px){
    .certificados{
        width:300px ;
        margin-bottom: 30px;
    }
}
@media (max-width: 576px){
    .certificados{
        width: 150px;
    }
    .titleSomosLuisitas{
        h1{
            font-size: 2em;  
        }
}
.introH2{
    h2{
    font-size: 25px;
    }
}}
//FIN @MEDIA