@import "servicios";
@import "nosotros";
@import "fotos";
@import "citas";
//VARIABLES DEL MENU Y BOTONES
$colorPrincipal: blueviolet;
$colorHover:  rgb(216, 64, 208);
$sizePrincipal: 2.3em;
$familyTitle:"Dancing Script", cursiva;
$colorBasic: rgb(245,245,245);
//VARIABLES DEL BODY 
$familyGeneral: 'Roboto', sans-serif;
$weigth: bold;
//VARIABLE MAP FOOTER
$footer:(
    fondoDegradado:linear-gradient( 0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3) ),
    fondoColor: rgb(63, 63, 63)
    );
    //MIXIN
    @mixin parrafoGeneral($sizeParrafo, $TxCenter, $colorBasic, $bordeado, $shadow, $mgn, $pdg ){
        height: 35%;
        font-size:$sizeParrafo;
        text-align: $TxCenter;
        background-color:$colorBasic;
        border-radius: $bordeado;
        box-shadow: $shadow;
        margin:$mgn;
        padding:$pdg;
    }
body{
    margin: 0%;
    padding: 0%;
    background-size: cover;
    background-image: url(../assets/imagenes/fondos/color-body.jpg);
    font-family: $familyGeneral;
    font-weight: $weigth;
}
//BOTONES GENERALES
.button{
    border: solid $colorPrincipal;
    background-color:$colorPrincipal;
    border-width: 10px;
    color: white;
    font-size: 1.4em;
    border-radius: 17px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    text-decoration: none;
    transition: 0.5s;
    &:hover{
        border: solid $colorHover;
        background-color: $colorHover;
        border-width: 12px;
        font-size: 1.5em;
        border-radius: 17px;
    }
}
/*SCROOLLBAR*/
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #bdbdbd ;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #59415e;
}
/*FIN SCROLLBAR*/
/*MENU BARRA*/ 
.navbar{
    z-index: 1;
    position: fixed;
    box-shadow: 0px 0px 6px 4px rgba(138, 43, 226, 0.25);
    #menuBarra{
    h1{
    color:$colorPrincipal;
    font-size: $colorBasic;
    font-family:$familyTitle;
    &:hover{
        color: rgb(216, 64, 208)
    }
    }
    a{
    color: black;
    }   
    a:hover{
    color:$colorHover;
    }
}
}

/*FIN MENU BARRA*/ 
/*INICIO DE SECTION,CAROUSEL,BUTTON Y TITLE*/
.carousel-caption{
    right: 0% !important;
    left: 0% !important;
    padding-top: 0% !important;
    top: 8rem;
    h1{
    font-size: 4.1em;
    color: white;
    padding-bottom: 25px;
    }
}
/*FIN DE SECTION,CAROUSEL,BUTTON Y TITLE*/
/*INICIO SECTION Y VIDEO*/
.sectionDosH2{
    display: flex;
    justify-content: center;
    align-items: center;
    h2{    
    display: inline-block;
    position: relative;
    color: black;  
    font-family:$familyTitle;
}
}
.linea::after, .linea::before{
    content:"";
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: black;
    top: 0.6em;
}
.linea::before{
    left: -140px;
}
.linea::after{
    right: -140px;
}
.sectionDos{
    display: flex;
    align-items: center;
    video{
    width: 17%;
    border-radius:25px ;
    margin-left: 100px ;
    margin-bottom: 20px;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
    }
    p{
        height: 35%;
        word-spacing: 0.2em;
        @include parrafoGeneral(1.8em,center, rgb(245,245,245),20px ,0px 0px 7px 1px rgba(0,0,0,0.75) ,50px ,10px )
}
}
/*FIN SECTION Y VIDEO*/
/*INCIO ICONOS CON LINKS*/
.sectionTres{
    display: flex;
    justify-content: center;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3) ) ;
    font-size: 1.6em;
    color: white; 
    padding-top: 5px;
    margin-top:70px;
}
.sectionTresButtonBox{
    display: flex;
    justify-content: center;
    padding: 35px;
}
.sectionTresLinks{
    display: flex;
    justify-content: center;
    margin: 50px;
    a{
    padding-inline: 10px; 
     }
}
/*FIN ICONOS CON LINKS*/
/*INICIO FOOTER*/
.footerFinPagina{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-image: map-get($footer, fondoDegradado);
    color: map-get($footer, fondoColor);
}
/*FIN FOOTER*/
/*INICIO @MEDIA*/
@media (max-width: 576px){
    .navbar{
        #menuBarra{
            h1{
                font-size: 1.8em ;
            }
            img{
            display: none;
            }
            p{
                font-size:18px;
        }
}
}
.carousel-caption{
    top:1rem !important;
    h1{
        font-size: 2.2em;
        padding-bottom: 5px;
    }
  }
    .sectionDosH2{
        font-size: 1.2em;
    }
    .linea::after, .linea::before{
        display: none;
    }
    .linea{
    font-size: 1.5em;
}
.button{
    border-width: 6px;
    font-size: 0.9em;
    border-radius: 13px;
    &:hover{
        border-width: 7px;
        font-size: 1.0em;
        border-radius: 16px;
    }
}
  .sectionDos p{
    font-size: 18px;
  }
  .sectionTres{
    margin-top:10px;
  }
  .sectionTresLinks{
    margin: 10px;
  }
  .parrafoLinks{
    font-size:13px ;
  }
}
@media (max-width: 768px) {
    .sectionDos {
        display: block;
        Video{
            display: none;
         }
}
#menuBarra{
    img{
        display: none;
        }
}
.carousel-caption{
    top:3rem;
  }
  .sectionTresLinks{
    margin: 10px;
  }
  .parrafoLinks{
    font-size:13px ;
  }
}
@media (max-width:1200px){
    #menuBarra{
        img{
        display: none;
        }
}
}
 /*FIN @MEDIA*/
